@import url('https://fonts.googleapis.com/css2?family=Almendra:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');


.herocontainer{
  padding: 8em 2em 6em 3em;
}
p {.almendra-regular {
    font-family: "Almendra", serif;
    font-weight: 400;
    font-style: normal;
  }
}
  
.albert-sans {
    font-family: "Albert Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
  }
  .alex-brush-regular {
    font-family: "Alex Brush", cursive;
    font-weight: 400;
    font-style: normal;
  }
  .loader {
    position: relative;
    width: 108px;
    display: flex;
    justify-content: space-between;
  }
  
  .loader::after, .loader::before {
    content: '';
    display: inline-block;
    width: 48px;
    height: 48px;
    border: 1px solid black;
    background-color: #FFF;
    background-image: radial-gradient(circle 14px, #0d161b 100%, transparent 0);
    background-repeat: no-repeat;
    border-radius: 50%;
    animation: eyeMove 10s infinite, blink 10s infinite;
  }
  
  @keyframes eyeMove {
    0%, 10% { background-position: 0px 0px; }
    13%, 40% { background-position: -15px 0px; }
    43%, 70% { background-position: 15px 0px; }
    73%, 90% { background-position: 0px 15px; }
    93%, 100% { background-position: 0px 0px; }
  }
  
  @keyframes blink {
    0%, 10%, 12%, 20%, 22%, 40%, 42%, 60%, 62%, 70%, 72%, 90%, 92%, 98%, 100% {
      height: 48px;
    }
    11%, 21%, 41%, 61%, 71%, 91%, 99% {
      height: 18px;
    }
  }
  .elevatecss {
    width: fit-content;
    font-weight: bold;
    font-family: monospace;
    font-size: 35px;
    padding: 6px;
    background: radial-gradient(circle closest-side, #000 94%, #0000) right/calc(200% - 1em) 100%;
    animation: l24 1s infinite alternate linear;
  }
  
  .elevatecss::before {
    content: "Elevate";
    line-height: 1em;
    color: #0000;
    background: inherit;
    background-image: radial-gradient(circle closest-side, #fff 94%, #000);
    -webkit-background-clip: text;
    background-clip: text;
  }
  
  @keyframes l24 {
    100% { background-position: left; }
  }
  
  
  .textbodyemphasis{
    font-size: 50px;
    display: flex !important;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    flex-wrap: wrap !important;
  }
  .textbodyemphasis span{
    padding: 4px;
    float:left
  }
.flipcss{
    font-family: "Albert Sans", sans-serif;}
  .animation {
    height:70px;
    overflow:hidden;
  }
  
  .animation > div > div {
    padding: 0.25rem 0.75rem;
    height:3rem;
    margin-bottom: 2.81rem;
    display:inline-block;
  }


  
  .animation div:first-child {
    animation: text-animation 8s infinite;
  }
  
  .first div {
    background-color:#adc9d3;
    font-family:fantasy;
    letter-spacing: 1.3px;
  }
  .second div {
    background-color:#d4be91;
    letter-spacing: 0px;
    font-family:'Courier New', Courier, monospace;
  }
  .fourth div{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 3px;
    background-color:#f7d1e4;
  }
  .third div {
    background-color:#e9bec6;
    font-family:Georgia, 'Times New Roman', Times, serif
  }
  .fifth div {
    background-color:#dcbdf5;
    font-size: 60px;
    font-family:monospace;
  }
  .h1, h1 {
    display: flex;
    font-size: calc(1.375rem + 1.5vw);
}
  
  @keyframes text-animation {
    0% {margin-top: 0;}
    10% {margin-top: 0;}
    20% {margin-top: -5.62rem;}
    30% {margin-top: -5.62rem;}
    40% {margin-top: -11.24rem;}
    60% {margin-top: -11.24rem;}
    70% {margin-top: -5.62rem;}
    80% {margin-top: -5.62rem;}
    90% {margin-top: 0;}
    100% {margin-top: 0;}
  }
  .h2heading{ 
     font-size: 50px;
     padding: 12px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    flex-wrap: wrap !important;
  
  }
.h2heading span{ 
    padding: 4px !important;
    float:left
}
  
  .hicss, .hicss:before, .hicss:after {
    box-sizing: border-box;
    position: relative;
    }
  

  .hicss {
    display: inline-block;
    color: rgb(247, 143, 9);
    font-family: 'Righteous', serif;
    font-size: 1.2em; 
    text-shadow: .04em .1em 0 rgb(2, 4, 17);
    }
    .hicss:after {
      content: attr(data-shadow);
      position: absolute;
      top: .06em; left: .06em;
      z-index: -1;
      text-shadow: none;
      background-image:
        linear-gradient(
          85deg,
          transparent 45%,
          rgb(107, 92, 25) 55%,
          rgb(75, 67, 35) 75%,
          transparent 0
          );
      background-size: .08em .08em;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    
      animation: shad-anim 15s linear infinite;
      }
  
  @keyframes shad-anim {
    0% {background-position: 0 0}
    0% {background-position: 100% -100%}
    }

    
.stylecss{
    padding:10px !important;
    font-size: 43px;
    text-decoration:overline;
    font-family: "Alex Brush", cursive;}
  .spoiler {
    color: black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-position: left;
    background-size: 100% 100%;
    padding: 4px;
    background-image: linear-gradient(#cedef3, #b1ccee, #c5eec4);
    display: inline;
    font-size: 28px;
    background-repeat: no-repeat;
    transition: all 450ms ease-in-out;
  }
  .spoiler:hover {
    color: #000;
    background-size: 0% 100%;
  }