.card-link{
    text-decoration: none !important;
}
.card-link .card-container,
.card-link .card,
.card-link .card-header,
.card-link .card-body {
  /* Ensure these elements inside the link do not inherit unwanted styles */
  text-decoration: none;
  color: black;
}

/*TextResizer*/
.text-resizer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.input-slider-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}

.text-input {
  margin-right: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  flex: 1;
}

.font-size-controls {
  display: flex;
  align-items: center;
}

.font-slider {
  margin-right: 20px;
  width: 150px;
}

.font-dropdown {
  padding: 5px;
}

.text-display-box {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 20px;
  width: 100%;
  max-width: 600px;
  text-align: center;
}
