.cardscontainer {
  position: relative;
  max-width: auto ;
  border-radius: 10px;
  border: none !important;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.dropdowntxt{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important;
}
.card-title {
  width: 5.3em;
  font-size: 80px;
  font-weight: 400 !important;
  transition: transform 0.2s ease; /* Ensure smooth transitions for both transform and font-size */
}

.card-title:hover {
  transform: scale(1.1); /* Scale up by 10% */
}

.cardscontainer:hover {
  border: 1px solid black;
}
.card-header {
  position: absolute;
  top: 2px;
  right: 2px;
  display: none;
  background-color: transparent !important;
  border: none !important;
}

.cardscontainer:hover .card-header {
 
  display: flex !important;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.card-header .fa-heart,
.card-header .dropdown {
  color: #007bff;
  cursor: pointer;
}

.card-header .dropdown-menu {
  top: 15px;
  right: 0;
  left: auto;
  min-width: 100px;
}
.card{
  border: none;
}
.card-body {
  padding: 0%;
  display: flex;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  height: 340px;
  width: 438px;
  text-align: center;
}

i{
  margin: 6px;
  color: black;
  font-size: 1.2em;
}

/* Apply a custom style to selected text */
::selection {
  background-color: black;
  color: white;
}

/* For Mozilla Firefox */
::-moz-selection {
  background-color: black;
  color: white;
}
/* For Webkit browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  border-radius: 20px ;
  width: 9px; /* Width of the scrollbar */
  height: 12px; /* Height of the scrollbar for horizontal scrolling */
}

::-webkit-scrollbar-thumb {
  background-color: white; /* Color of the scrollbar thumb */
  border-radius: 10%; /* Roundness of the scrollbar thumb */
} 

::-webkit-scrollbar-track {
  background-color: black; /* Background color of the scrollbar track */
  border-radius: 10%; /* Roundness of the scrollbar track */
}

/* For Mozilla Firefox */
* {
  scrollbar-width:thin; /* Makes the scrollbar thin */
  scrollbar-color: white black; /* Sets the thumb color and track color */
}

/*SearchBar*/
.searchBar{
  display: flex;
  padding: 20px;
  justify-content: center;
  align-items: center;
}
.searchBar input{
  padding: 20px;
  width: 800px;
  border-radius: 45px;
}