.cardscontainer {
  position: relative;
  max-width: auto ;
  border-radius: 10px;
  border: none !important;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.dropdowntxt{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important;
}
.card-title {
  width: 5.3em;
  font-size: 80px;
  font-weight: 400 !important;
  transition: transform 0.2s ease; /* Ensure smooth transitions for both transform and font-size */
}

.card-title:hover {
  transform: scale(1.1); /* Scale up by 10% */
}

.cardscontainer:hover {
  border: 1px solid black;
}
.card-header {
  position: absolute;
  top: 2px;
  right: 2px;
  display: none;
  background-color: transparent !important;
  border: none !important;
}

.cardscontainer:hover .card-header {
 
  display: flex !important;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.card-header .fa-heart,
.card-header .dropdown {
  color: #007bff;
  cursor: pointer;
}

.card-header .dropdown-menu {
  top: 15px;
  right: 0;
  left: auto;
  min-width: 100px;
}
.card{
  border: none;
}
.card-body {
  padding: 0%;
  display: flex;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  height: 340px;
  width: 438px;
  text-align: center;
}

i{
  margin: 6px;
  color: black;
  font-size: 1.2em;
}

/* Apply a custom style to selected text */
::selection {
  background-color: black;
  color: white;
}

/* For Mozilla Firefox */
::-moz-selection {
  background-color: black;
  color: white;
}
/* For Webkit browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  border-radius: 20px ;
  width: 9px; /* Width of the scrollbar */
  height: 12px; /* Height of the scrollbar for horizontal scrolling */
}

::-webkit-scrollbar-thumb {
  background-color: white; /* Color of the scrollbar thumb */
  border-radius: 10%; /* Roundness of the scrollbar thumb */
} 

::-webkit-scrollbar-track {
  background-color: black; /* Background color of the scrollbar track */
  border-radius: 10%; /* Roundness of the scrollbar track */
}

/* For Mozilla Firefox */
* {
  scrollbar-width:thin; /* Makes the scrollbar thin */
  scrollbar-color: white black; /* Sets the thumb color and track color */
}

/*SearchBar*/
.searchBar{
  display: flex;
  justify-content: center;
  align-items: center;
}



.load-more-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 70px !important;
}

.load-more-button {
  padding: 10px 20px;
  border-radius: 25px;
  border: 1px solid #ccc;
  background-color: #ffffff;
  box-shadow: 5px 5px 10px #d1d9e6, -5px -5px 10px #ffffff;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.load-more-button:hover {
  box-shadow: 5px 5px 15px #a0a6c0, -5px -5px 15px #ffffff;
}

.font-category-container {
  margin: 27px 0;
  text-align: center;
}

.category-selector {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  width: 30px;
  margin: 10px
}

.searchfiltercss {
    display: flex;
    flex-direction: row !important;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 0px;
}
.category-selector select {
  border-radius: 35px;
  border: 1px solid #ccc;
  font-size: 13px;
  box-shadow: 5px 5px 10px #d1d9e6, -5px -5px 10px #ffffff;
  transition: all 0.3s ease;
}

.category-selector select:focus {
  outline: none;
  border-color: #888;
}
